# terraform.tfvars.example
# Keep quotes and brackets unless otherwise noted

hcloud_token     = "insert-your-Hetzner-token-here"
ssh_key_name     = ["your_ssh_key_name_in_Hetzner"]
location         = "server_zone"
server_type      = "server_type"
image            = "os_image"
count_x          = [number_of_servers] # no brackets here

